* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans;
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


header {
  background-color: #99cc66;
  padding: 1rem;
  color: #fff;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header .logo {
  display: none;
}

header h1 {
  font-family: serif;
  font-size: 1.5rem;
}

.settings {
  border-radius: 10px;
  border: 2px solid #fff;
  padding: .2rem;
  cursor: pointer;
}


.menu {
  position: fixed;
  display:flex;
  top: 70px;
  right: 0;
  width: 70%;
  height: 100vh;
  background: #99CC66;
  border-top: 2px solid #eee;
  border-radius: 20px 0 0 0;
  transform: translateX(100%);
}

@keyframes undisplay-menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes display-menu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.diff-gauche, .diff-droite {
  border: 1px solid;
  width: 45%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #eee;
  padding-top: 1rem;
  gap: 10rem;
  height: 100%;
}


.zone-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.zone-result {
  text-align: left;
  align-self: flex-start;
  margin-left: 20px;
}

.info {
  background-color: #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  min-height: 4rem;
}

p {
  transition: 0.3s;
  font-zize: 1rem;
}
.intitule {
  min-height: 30px;
}
.resultat {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
 
}
button{
  background-image: url("img/btn_mousqueton.png");
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 5rem;
  min-height: 5rem;
  transition: .3s;
  cursor: pointer;
}

button:active{
  background-image: url("img/btn_mousqueton_hover.png");
}

footer {
  padding-bottom: 2rem;
  background-color: #52861C;
  color: #ddd;
  text-align: center;
  font-size: .7rem;
}
